<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-phone-heading" jhiTranslate="epmwebApp.personPhone.home.createOrEditLabel">Create or edit a Person Phone</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.personPhone.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                    <div *ngIf="editForm.get('phoneNumber').invalid && (editForm.get('phoneNumber').dirty || editForm.get('phoneNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phoneNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.personPhone.defaultInd" for="field_defaultInd">Default Ind</label>
                    <input type="checkbox" class="form-control" name="defaultInd" id="field_defaultInd"
                           formControlName="defaultInd"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.personPhone.activeInd" for="field_activeInd">Active Ind</label>
                    <input type="checkbox" class="form-control" name="activeInd" id="field_activeInd"
                           formControlName="activeInd"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.personPhone.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of people; trackBy: trackPeopleById">{{peopleOption.fullName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.personPhone.phoneNumberType" for="field_phoneNumberType">Phone Number Type</label>
                    <select class="form-control" id="field_phoneNumberType" name="phoneNumberType" formControlName="phoneNumberTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="phoneNumberTypeOption.id" *ngFor="let phoneNumberTypeOption of phonenumbertypes; trackBy: trackPhoneNumberTypeById">{{phoneNumberTypeOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
