<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productSet">
            <h2><span jhiTranslate="epmwebApp.productSet.detail.title">Product Set</span> {{productSet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="epmwebApp.productSet.name">Name</span></dt>
                <dd>
                    <span>{{productSet.name}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.productSet.noOfPerson">No Of Person</span></dt>
                <dd>
                    <span>{{productSet.noOfPerson}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.productSet.isExclusive">Is Exclusive</span></dt>
                <dd>
                    <span>{{productSet.isExclusive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-set', productSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
