<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unitMeasure">
            <h2><span jhiTranslate="epmwebApp.unitMeasure.detail.title">Unit Measure</span> {{unitMeasure.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="epmwebApp.unitMeasure.code">Code</span></dt>
                <dd>
                    <span>{{unitMeasure.code}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.unitMeasure.name">Name</span></dt>
                <dd>
                    <span>{{unitMeasure.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/unit-measure', unitMeasure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
