<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vehicle-temperatures-heading" jhiTranslate="epmwebApp.vehicleTemperatures.home.createOrEditLabel">Create or edit a Vehicle Temperatures</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.vehicleTemperatures.vehicleRegistration" for="field_vehicleRegistration">Vehicle Registration</label>
                    <input type="number" class="form-control" name="vehicleRegistration" id="field_vehicleRegistration"
                           formControlName="vehicleRegistration"/>
                    <div *ngIf="editForm.get('vehicleRegistration').invalid && (editForm.get('vehicleRegistration').dirty || editForm.get('vehicleRegistration').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vehicleRegistration').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vehicleRegistration')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.vehicleTemperatures.chillerSensorNumber" for="field_chillerSensorNumber">Chiller Sensor Number</label>
                    <input type="text" class="form-control" name="chillerSensorNumber" id="field_chillerSensorNumber"
                           formControlName="chillerSensorNumber"/>
                    <div *ngIf="editForm.get('chillerSensorNumber').invalid && (editForm.get('chillerSensorNumber').dirty || editForm.get('chillerSensorNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('chillerSensorNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.vehicleTemperatures.recordedWhen" for="field_recordedWhen">Recorded When</label>
                    <input type="number" class="form-control" name="recordedWhen" id="field_recordedWhen"
                           formControlName="recordedWhen"/>
                    <div *ngIf="editForm.get('recordedWhen').invalid && (editForm.get('recordedWhen').dirty || editForm.get('recordedWhen').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('recordedWhen').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('recordedWhen')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.vehicleTemperatures.temperature" for="field_temperature">Temperature</label>
                    <input type="number" class="form-control" name="temperature" id="field_temperature"
                           formControlName="temperature"/>
                    <div *ngIf="editForm.get('temperature').invalid && (editForm.get('temperature').dirty || editForm.get('temperature').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('temperature').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('temperature')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.vehicleTemperatures.isCompressed" for="field_isCompressed">Is Compressed</label>
                    <input type="checkbox" class="form-control" name="isCompressed" id="field_isCompressed"
                           formControlName="isCompressed"/>
                    <div *ngIf="editForm.get('isCompressed').invalid && (editForm.get('isCompressed').dirty || editForm.get('isCompressed').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isCompressed').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.vehicleTemperatures.fullSensorData" for="field_fullSensorData">Full Sensor Data</label>
                    <input type="text" class="form-control" name="fullSensorData" id="field_fullSensorData"
                           formControlName="fullSensorData"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.vehicleTemperatures.compressedSensorData" for="field_compressedSensorData">Compressed Sensor Data</label>
                    <input type="text" class="form-control" name="compressedSensorData" id="field_compressedSensorData"
                           formControlName="compressedSensorData"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
