<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmwebApp.orderLines.home.title">Order Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-lines" [routerLink]="['/order-lines/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmwebApp.orderLines.home.createLabel">
            Create a new Order Lines
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderLines?.length === 0">
        <span jhiTranslate="epmwebApp.orderLines.home.notFound">No orderLines found</span>
    </div>
    <div class="table-responsive" *ngIf="orderLines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.carrierTrackingNumber">Carrier Tracking Number</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.quantity">Quantity</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.unitPrice">Unit Price</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.unitPriceDiscount">Unit Price Discount</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.lineTotal">Line Total</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.taxRate">Tax Rate</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.pickedQuantity">Picked Quantity</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.pickingCompletedWhen">Picking Completed When</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.lastEditedBy">Last Edited By</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.lastEditedWhen">Last Edited When</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.stockItem">Stock Item</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.packageType">Package Type</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.orderLines.order">Order</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderLines of orderLines ;trackBy: trackId">
                <td><a [routerLink]="['/order-lines', orderLines.id, 'view' ]">{{orderLines.id}}</a></td>
                <td>{{orderLines.carrierTrackingNumber}}</td>
                <td>{{orderLines.quantity}}</td>
                <td>{{orderLines.unitPrice}}</td>
                <td>{{orderLines.unitPriceDiscount}}</td>
                <td>{{orderLines.lineTotal}}</td>
                <td>{{orderLines.taxRate}}</td>
                <td>{{orderLines.pickedQuantity}}</td>
                <td>{{orderLines.pickingCompletedWhen | date:'medium'}}</td>
                <td jhiTranslate="{{'epmwebApp.OrderLineStatus.' + orderLines.status}}">{{orderLines.status}}</td>
                <td>{{orderLines.lastEditedBy}}</td>
                <td>{{orderLines.lastEditedWhen | date:'medium'}}</td>
                <td>
                    <div *ngIf="orderLines.stockItemId">
                        <a [routerLink]="['/stock-items', orderLines.stockItemId , 'view' ]" >{{orderLines.stockItemName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderLines.packageTypeId">
                        <a [routerLink]="['/package-types', orderLines.packageTypeId , 'view' ]" >{{orderLines.packageTypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderLines.orderId">
                        <a [routerLink]="['/orders', orderLines.orderId , 'view' ]" >{{orderLines.orderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order-lines', orderLines.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-lines', orderLines.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(orderLines)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
