<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coldRoomTemperatures">
            <h2><span jhiTranslate="epmwebApp.coldRoomTemperatures.detail.title">Cold Room Temperatures</span> {{coldRoomTemperatures.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="epmwebApp.coldRoomTemperatures.coldRoomSensorNumber">Cold Room Sensor Number</span></dt>
                <dd>
                    <span>{{coldRoomTemperatures.coldRoomSensorNumber}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.coldRoomTemperatures.recordedWhen">Recorded When</span></dt>
                <dd>
                    <span>{{coldRoomTemperatures.recordedWhen}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.coldRoomTemperatures.temperature">Temperature</span></dt>
                <dd>
                    <span>{{coldRoomTemperatures.temperature}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.coldRoomTemperatures.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{coldRoomTemperatures.validFrom}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.coldRoomTemperatures.validTo">Valid To</span></dt>
                <dd>
                    <span>{{coldRoomTemperatures.validTo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cold-room-temperatures', coldRoomTemperatures.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
