<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmwebApp.reviews.home.title">Reviews</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reviews" [routerLink]="['/reviews/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmwebApp.reviews.home.createLabel">
            Create a new Reviews
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="reviews?.length === 0">
        <span jhiTranslate="epmwebApp.reviews.home.notFound">No reviews found</span>
    </div>
    <div class="table-responsive" *ngIf="reviews?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.emailAddress">Email Address</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.reviewDate">Review Date</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.overAllSellerRating">Over All Seller Rating</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.overAllSellerReview">Over All Seller Review</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.overAllDeliveryRating">Over All Delivery Rating</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.overAllDeliveryReview">Over All Delivery Review</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.reviewAsAnonymous">Review As Anonymous</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.completedReview">Completed Review</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.lastEditedBy">Last Edited By</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.reviews.lastEditedWhen">Last Edited When</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reviews of reviews ;trackBy: trackId">
                <td><a [routerLink]="['/reviews', reviews.id, 'view' ]">{{reviews.id}}</a></td>
                <td>{{reviews.name}}</td>
                <td>{{reviews.emailAddress}}</td>
                <td>{{reviews.reviewDate | date:'medium'}}</td>
                <td>{{reviews.overAllSellerRating}}</td>
                <td>{{reviews.overAllSellerReview}}</td>
                <td>{{reviews.overAllDeliveryRating}}</td>
                <td>{{reviews.overAllDeliveryReview}}</td>
                <td>{{reviews.reviewAsAnonymous}}</td>
                <td>{{reviews.completedReview}}</td>
                <td>{{reviews.lastEditedBy}}</td>
                <td>{{reviews.lastEditedWhen | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/reviews', reviews.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reviews', reviews.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(reviews)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
