<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="systemParameters">
            <h2><span jhiTranslate="epmwebApp.systemParameters.detail.title">System Parameters</span> {{systemParameters.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="epmwebApp.systemParameters.applicationSettings">Application Settings</span></dt>
                <dd>
                    <span>{{systemParameters.applicationSettings}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.systemParameters.deliveryCity">Delivery City</span></dt>
                <dd>
                    <div *ngIf="systemParameters.deliveryCityId">
                        <a [routerLink]="['/cities', systemParameters.deliveryCityId, 'view']">{{systemParameters.deliveryCityName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="epmwebApp.systemParameters.postalCity">Postal City</span></dt>
                <dd>
                    <div *ngIf="systemParameters.postalCityId">
                        <a [routerLink]="['/cities', systemParameters.postalCityId, 'view']">{{systemParameters.postalCityName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system-parameters', systemParameters.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
