<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wishlist-products-heading" jhiTranslate="epmwebApp.wishlistProducts.home.createOrEditLabel">Create or edit a Wishlist Products</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.wishlistProducts.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="productId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productsOption.id" *ngFor="let productsOption of products; trackBy: trackProductsById">{{productsOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.wishlistProducts.wishlist" for="field_wishlist">Wishlist</label>
                    <select class="form-control" id="field_wishlist" name="wishlist" formControlName="wishlistId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="wishlistsOption.id" *ngFor="let wishlistsOption of wishlists; trackBy: trackWishlistsById">{{wishlistsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
