<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-review-lines-heading" jhiTranslate="epmwebApp.reviewLines.home.createOrEditLabel">Create or edit a Review Lines</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.productRating" for="field_productRating">Product Rating</label>
                    <input type="number" class="form-control" name="productRating" id="field_productRating"
                           formControlName="productRating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.productReview" for="field_productReview">Product Review</label>
                    <textarea class="form-control" name="productReview" id="field_productReview"
                              formControlName="productReview"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.sellerRating" for="field_sellerRating">Seller Rating</label>
                    <input type="number" class="form-control" name="sellerRating" id="field_sellerRating"
                           formControlName="sellerRating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.sellerReview" for="field_sellerReview">Seller Review</label>
                    <textarea class="form-control" name="sellerReview" id="field_sellerReview"
                              formControlName="sellerReview"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.deliveryRating" for="field_deliveryRating">Delivery Rating</label>
                    <input type="number" class="form-control" name="deliveryRating" id="field_deliveryRating"
                           formControlName="deliveryRating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.deliveryReview" for="field_deliveryReview">Delivery Review</label>
                    <textarea class="form-control" name="deliveryReview" id="field_deliveryReview"
                              formControlName="deliveryReview"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.thumbnailUrl" for="field_thumbnailUrl">Thumbnail Url</label>
                    <input type="text" class="form-control" name="thumbnailUrl" id="field_thumbnailUrl"
                           formControlName="thumbnailUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.lastEditedBy" for="field_lastEditedBy">Last Edited By</label>
                    <input type="text" class="form-control" name="lastEditedBy" id="field_lastEditedBy"
                           formControlName="lastEditedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.lastEditedWhen" for="field_lastEditedWhen">Last Edited When</label>
                    <div class="d-flex">
                        <input id="field_lastEditedWhen" type="datetime-local" class="form-control" name="lastEditedWhen" formControlName="lastEditedWhen" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="epmwebApp.reviewLines.review" for="field_review">Review</label>
                    <select class="form-control" id="field_review" name="review" formControlName="reviewId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reviewsOption.id" *ngFor="let reviewsOption of reviews; trackBy: trackReviewsById">{{reviewsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
