<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmwebApp.invoiceLines.home.title">Invoice Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-lines" [routerLink]="['/invoice-lines/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmwebApp.invoiceLines.home.createLabel">
            Create a new Invoice Lines
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="invoiceLines?.length === 0">
        <span jhiTranslate="epmwebApp.invoiceLines.home.notFound">No invoiceLines found</span>
    </div>
    <div class="table-responsive" *ngIf="invoiceLines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.quantity">Quantity</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.unitPrice">Unit Price</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.taxRate">Tax Rate</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.taxAmount">Tax Amount</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.lineProfit">Line Profit</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.extendedPrice">Extended Price</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.lastEditedBy">Last Edited By</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.lastEditedWhen">Last Edited When</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.packageType">Package Type</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.stockItem">Stock Item</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.invoiceLines.invoice">Invoice</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceLines of invoiceLines ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-lines', invoiceLines.id, 'view' ]">{{invoiceLines.id}}</a></td>
                <td>{{invoiceLines.description}}</td>
                <td>{{invoiceLines.quantity}}</td>
                <td>{{invoiceLines.unitPrice}}</td>
                <td>{{invoiceLines.taxRate}}</td>
                <td>{{invoiceLines.taxAmount}}</td>
                <td>{{invoiceLines.lineProfit}}</td>
                <td>{{invoiceLines.extendedPrice}}</td>
                <td>{{invoiceLines.lastEditedBy}}</td>
                <td>{{invoiceLines.lastEditedWhen | date:'medium'}}</td>
                <td>
                    <div *ngIf="invoiceLines.packageTypeId">
                        <a [routerLink]="['/package-types', invoiceLines.packageTypeId , 'view' ]" >{{invoiceLines.packageTypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceLines.stockItemId">
                        <a [routerLink]="['/stock-items', invoiceLines.stockItemId , 'view' ]" >{{invoiceLines.stockItemName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceLines.invoiceId">
                        <a [routerLink]="['/invoices', invoiceLines.invoiceId , 'view' ]" >{{invoiceLines.invoiceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/invoice-lines', invoiceLines.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-lines', invoiceLines.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(invoiceLines)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
