<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerCategories">
            <h2><span jhiTranslate="epmwebApp.customerCategories.detail.title">Customer Categories</span> {{customerCategories.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="epmwebApp.customerCategories.name">Name</span></dt>
                <dd>
                    <span>{{customerCategories.name}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.customerCategories.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{customerCategories.validFrom}}</span>
                </dd>
                <dt><span jhiTranslate="epmwebApp.customerCategories.validTo">Valid To</span></dt>
                <dd>
                    <span>{{customerCategories.validTo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-categories', customerCategories.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
