<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmwebApp.customerCategories.home.title">Customer Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-categories" [routerLink]="['/customer-categories/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmwebApp.customerCategories.home.createLabel">
            Create a new Customer Categories
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="customerCategories?.length === 0">
        <span jhiTranslate="epmwebApp.customerCategories.home.notFound">No customerCategories found</span>
    </div>
    <div class="table-responsive" *ngIf="customerCategories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.customerCategories.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.customerCategories.validFrom">Valid From</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.customerCategories.validTo">Valid To</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerCategories of customerCategories ;trackBy: trackId">
                <td><a [routerLink]="['/customer-categories', customerCategories.id, 'view' ]">{{customerCategories.id}}</a></td>
                <td>{{customerCategories.name}}</td>
                <td>{{customerCategories.validFrom | date:'medium'}}</td>
                <td>{{customerCategories.validTo | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/customer-categories', customerCategories.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer-categories', customerCategories.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(customerCategories)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
