<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmwebApp.addressTypes.home.title">Address Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-address-types" [routerLink]="['/address-types/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmwebApp.addressTypes.home.createLabel">
            Create a new Address Types
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="addressTypes?.length === 0">
        <span jhiTranslate="epmwebApp.addressTypes.home.notFound">No addressTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="addressTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.addressTypes.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.addressTypes.refer">Refer</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let addressTypes of addressTypes ;trackBy: trackId">
                <td><a [routerLink]="['/address-types', addressTypes.id, 'view' ]">{{addressTypes.id}}</a></td>
                <td>{{addressTypes.name}}</td>
                <td>{{addressTypes.refer}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/address-types', addressTypes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/address-types', addressTypes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(addressTypes)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
