<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmwebApp.dangerousGoods.home.title">Dangerous Goods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dangerous-goods" [routerLink]="['/dangerous-goods/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmwebApp.dangerousGoods.home.createLabel">
            Create a new Dangerous Goods
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dangerousGoods?.length === 0">
        <span jhiTranslate="epmwebApp.dangerousGoods.home.notFound">No dangerousGoods found</span>
    </div>
    <div class="table-responsive" *ngIf="dangerousGoods?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.dangerousGoods.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.dangerousGoods.stockItem">Stock Item</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dangerousGoods of dangerousGoods ;trackBy: trackId">
                <td><a [routerLink]="['/dangerous-goods', dangerousGoods.id, 'view' ]">{{dangerousGoods.id}}</a></td>
                <td>{{dangerousGoods.name}}</td>
                <td>
                    <div *ngIf="dangerousGoods.stockItemId">
                        <a [routerLink]="['/stock-items', dangerousGoods.stockItemId , 'view' ]" >{{dangerousGoods.stockItemId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dangerous-goods', dangerousGoods.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dangerous-goods', dangerousGoods.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(dangerousGoods)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
