<div>
    <h2 id="page-heading">
        <span jhiTranslate="epmwebApp.compareProducts.home.title">Compare Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compare-products" [routerLink]="['/compare-products/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="epmwebApp.compareProducts.home.createLabel">
            Create a new Compare Products
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="compareProducts?.length === 0">
        <span jhiTranslate="epmwebApp.compareProducts.home.notFound">No compareProducts found</span>
    </div>
    <div class="table-responsive" *ngIf="compareProducts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.compareProducts.product">Product</span></th>
            <th scope="col" ><span jhiTranslate="epmwebApp.compareProducts.compare">Compare</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compareProducts of compareProducts ;trackBy: trackId">
                <td><a [routerLink]="['/compare-products', compareProducts.id, 'view' ]">{{compareProducts.id}}</a></td>
                <td>
                    <div *ngIf="compareProducts.productId">
                        <a [routerLink]="['/products', compareProducts.productId , 'view' ]" >{{compareProducts.productName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compareProducts.compareId">
                        <a [routerLink]="['/compares', compareProducts.compareId , 'view' ]" >{{compareProducts.compareId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/compare-products', compareProducts.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/compare-products', compareProducts.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(compareProducts)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
